{% extends 'base.html' %}
{% block content %}
<head>
    <link rel="stylesheet"
          href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.css"/>
    <link rel="stylesheet" href="/static/css/homepage.css">
    <title>Keto Tracker</title>
</head>
<center>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
</center>
 	<div class="well">
		<h1>Welcome to Keto Tracker</h1>

		<h2>Please <a href="/login">Login</a> or <a href="/register">Register</a></h2>

	</div>
</div>
	<div class="site-wrapper">
    	<div class="site-wrapper-inner">

{% endblock %}